
@{
    ViewBag.Title = "Contact Confirmation";
}

@*<h2>@ViewBag.Title</h2>*@

<div id="contactconfirmation" style="margin-top:5em; text-align:center;">

    <h2>Thank you for contacting us, @Model.Name! We will respond within 24 hours.</h2>

</div>
<div id="coupon">
    <h1 style="margin-top:80px;">Print</h1>
    <h2>Use this coupon for 50% off your first photo session! </h2>
</div>
