
@{
    ViewBag.Title = "Gallery";
}

<h2>Gallery</h2>

<div class="gallery">


    <img src="~/Content/Images/Scruff.jpg" />
    <img src="~/Content/Images/Puppy.jpg" />
    <img src="~/Content/Images/Pit.jpg" />
    <img src="~/Content/Images/Meko.jpg" />
    <img src="~/Content/Images/Kirby.jpg" />
    <img src="~/Content/Images/Mando.jpg" />



</div>
